@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body * {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

body,
.v-application {
    margin: 0 !important;
    min-height: 100vh;
    background-color: black !important;
    color: white !important;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 5% 0 5%;
    gap: 10px;
}

.page.page-character {
    background: black url("/img/character_background.png") no-repeat;
    background-size: cover;
}